body{
  background-image: url("../images/wallpaper.jpg");
  background-size: cover; /*fond prend toute la taille de l'écran*/
  background-repeat: no-repeat; /*l'image en 1 fois*/
  margin: 0; /*pas de marge*/
  padding: 0; /*pas de padding*/
}

/*Barre de menu*/

header{
  position: fixed; /* La barre de navigation est fixe */
  z-index: 1; /*Mettre en 1er plan (résout le problème des boutons qui passaient par-dessus le menu)*/
  top: 0; /* Position en haut */
  width: 97%; /*largeur totale*/
  display: flex; /*Les blocs se placent les uns à côté des autres*/
  margin-left: 1.5%;  /*centrer la barre de menu*/
  align-items: center;
  background: linear-gradient(180deg, rgba(159,29,181,1) 0%, rgba(89,0,255,1) 100%); /*dégradé violet bleu*/
}

header img{
  width: 50px;  /*taille de l'image*/
}

.menu ul{
  display: flex;
  list-style: none; /*retirer les puces*/
}

.menu li{
  margin-left: 270px;
  margin-right: 80px;
  cursor: pointer;  /*souris = main qui pointe le bouton*/
  -webkit-transition: .2s ease-in-out; /*Easy at the beginning, abrupt at the end, Chrome et Safari*/
  transition: .2s ease-in-out;  /*Firefox*/

}

.menu a {
  color: white; /*couleur des liens*/
}

.menu li:hover{
  font-weight: bold; /*gras*/
  background: transparent;  /*pas de changement de couleur*/
  font-size: 20px;  /*taille supérieure*/
  -webkit-transform: scale(1.2); /*Scale:  1.(x) et 2.(x) , Chrome et Safari*/
  transform: scale(1.2); /*Firefox*/
}


/*Page*/

.page {
  padding: 50px;  /*espace de 50px*/
  text-align: center; /*texte centré*/
}

#insertion{
  display: flex;
  justify-content: center;  /*formulaire centré*/
}

.formulaire{
  margin: 10px; /*marge*/
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);  /*effet ombre*/
  color: #000;  /*texte en noir*/
}

fieldset{ /*confondre le fieldset avec le formulaire (enlève l'espace par défaut entre les 2)*/
  margin: 0;  
  padding: 0;
}

.boite{ /*espaces entre les boites*/
  margin: 25px;
  padding: 10px;
}

.boite-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.boite2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.boite2 img{
  height: 100px;
  background: transparent;
}

/*Boutons*/

.bouton, .radio, .bouton2{
  cursor: pointer;
  min-width: 120px;
  margin: 0.5rem;
  padding: 0.4rem 0;
  text-align: center;
  position: relative;
  border: 1px solid rgb(255, 99, 71);
  border-radius: 4px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.bouton:hover, .radio:hover{
  border: 1px solid rgb(72, 61, 139);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.radio{
  min-width: 20px;
}

.bouton2:hover{
  border: none;
  background-image: linear-gradient(147deg,#08C8F6 0%,#4D5DFB 74%);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  font-size: 20px;
}

/*Texte*/

.page h1{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 80px;
  margin: 50px;
  text-shadow: 2px 2px #708090;
  color: rgb(0, 0, 102);
}

.label{
  line-height: 1.5;
  font-size: 30px;
  font-weight: bold;
  color: rgb(72, 61, 139);
  margin-top: auto;
  margin-bottom: auto;
}
.info{
  font-size: 20px;
  color: rgb(72, 61, 139);
  margin-top: auto;
  margin-bottom: auto;
}

i{
  color: rgb(72, 61, 139);
}