body{
  background-image: url("../images/wallpaper.jpg");
  background-size: cover; /*fond prend toute la taille de l'écran*/
  background-repeat: no-repeat; /*l'image en 1 fois*/
  margin: 0; /*pas de marge*/
  padding: 0; /*pas de padding*/
}

/*Barre de menu*/

header{
  position: fixed; /* La barre de navigation est fixe */
  z-index: 1; /*Mettre en 1er plan (résout le problème des boutons qui passaient par-dessus le menu)*/
  top: 0; /* Position en haut */
  width: 97%; /*largeur totale*/
  display: flex; /*Les blocs se placent les uns à côté des autres*/
  margin-left: 1.5%;  /*centrer la barre de menu*/
  align-items: center;
  background-color: rgb(72, 61, 139);
}

header img{
  width: 50px;  /*taille de l'image*/
}

.menu ul{
  display: flex;
  list-style: none; /*retirer les puces*/
}

.menu li{
  margin-left: 270px;
  margin-right: 80px;
  cursor: pointer;  /*souris = main qui pointe le bouton*/
  -webkit-transition: .2s ease-in-out; /*Easy at the beginning, abrupt at the end, Chrome et Safari*/
  transition: .2s ease-in-out;  /*Firefox*/

}

.menu a {
  color: white; /*couleur des liens*/
}

.menu li:hover{
  font-weight: bold; /*gras*/
  background: transparent;  /*pas de changement de couleur*/
  font-size: 20px;  /*taille supérieure*/
  -webkit-transform: scale(1.2); /*Scale:  1.(x) et 2.(x) , Chrome et Safari*/
  transform: scale(1.2); /*Firefox*/
}


/*Page*/

.page {
  padding: 50px;  /*espace de 50px*/
  text-align: center; /*texte centré*/
}

#insertion{
  display: flex;
  justify-content: center;  /*formulaire centré*/
}

.formulaires{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
}

.formulaires div{
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
}

.formulaire{
  margin: 10px; /*marge*/
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);  /*effet ombre*/
  color: #000;  /*texte en noir*/
}

fieldset{ /*confondre le fieldset avec le formulaire (enlève l'espace par défaut entre les 2)*/
  margin: 0;  
  padding: 0;
}

.boite{ /*espaces entre les boites*/
  margin: 15px;
  padding: 10px;
}


.boite2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.boite2 img{
  height: 100px;
  background: transparent;
}

/*Boutons*/

.bouton, .radio{
  cursor: pointer;
  min-width: 120px;
  margin: 0.5rem;
  padding: 0.4rem 0;
  text-align: center;
  position: relative;
  line-height: 20px;
  border: 1px solid rgb(178, 34, 34);
  border-radius: 10px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.bouton:hover, .radio:hover{
  border: 1px solid rgb(72, 61, 139);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.radio{
  min-width: 20px;
}

.bouton2 {
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  border: 1px solid rgb(72, 61, 139);
  color: rgb(72, 61, 139);
  line-height: 38px;
  border-radius: 25px;
  padding: 0 22px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background: #fff;
  width: 170px;
}

.bouton2:hover {
  box-shadow: 0 2px 4px rgba(83, 100, 255, 0.45);
  background: rgba(150, 80, 109,0.5);
  color: #fff;
  border: none;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.button:hover {
  cursor: pointer;
  font-size: 20px;
}

/*Texte*/

.page h1{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 80px;
  margin: 50px;
  text-shadow: 2px 2px #708090;
  color: rgb(0, 0, 102);
}

.label{
  line-height: 1.5;
  font-size: 30px;
  font-weight: bold;
  color: rgb(72, 61, 139);
  margin-top: auto;
  margin-bottom: auto;
}

.info{
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

i{
  color: rgb(72, 61, 139);
}

p,
.label2,
option{
  color: rgb(150, 80, 109);
}

option:disabled{
  color: grey;
} 