body{
  background-image: url("../images/wallpaper2.jpg");
  background-size: cover; /*fond prend toute la taille de l'écran*/
  background-repeat: no-repeat; /*l'image en 1 fois*/
  margin: 0; /*pas de marge*/
  padding: 0; /*pas de padding*/
}

/*Barre de menu*/

header{
  position: fixed; /* La barre de navigation est fixe */
  z-index: 1; /*Mettre en 1er plan (résout le problème des boutons qui passaient par-dessus le menu)*/
  top: 0; /* Position en haut */
  width: 97%; /*largeur totale*/
  display: flex; /*Les blocs se placent les uns à côté des autres*/
  margin-left: 1.5%;  /*centrer la barre de menu*/
  align-items: center;
  background: linear-gradient(180deg, rgba(159,29,181,1) 0%, rgba(89,0,255,1) 100%); /*dégradé vert-vert+*/
}

header img{
  width: 50px;  /*taille de l'image*/
}

.menu ul{
  display: flex;
  list-style: none; /*retirer les puces*/
}

.menu li{
  margin-left: 270px;
  margin-right: 80px;
  cursor: pointer;  /*souris = main qui pointe le bouton*/
  -webkit-transition: .2s ease-in-out; /*Easy at the beginning, abrupt at the end, Chrome et Safari*/
  transition: .2s ease-in-out;  /*Firefox*/

}

.menu a {
  color: white; /*couleur des liens*/
}

.menu li:hover{
  font-weight: bold; /*gras*/
  background: transparent;  /*pas de changement de couleur*/
  font-size: 20px;  /*taille supérieure*/
  -webkit-transform: scale(1.2); /*Scale:  1.(x) et 2.(x) , Chrome et Safari*/
  transform: scale(1.2); /*Firefox*/
}

/*Page*/

/*Sections et div*/

.page {
  text-align: center; /*aligner texte sur toute la page*/
  padding: 50px;  /*espace intérieur de 50px*/
}

.tableau-1,
.tableau-2{
  margin: 60px 0 100px 0;
}

.page .tableau,
.page .filtres{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.filtres{
  float: right;
  margin-left: 50px;
  width: 150px;
  position: relative;
}

.trier{
  float: right;
  position: relative;
}

.co{
  font-size: 20px;
  text-align: center;
}

form{
  width: 100%;
}

/*Boutons*/

.button:hover {
  cursor: pointer;
  font-size: 20px;
}

.bouton, .bouton2, .bouton3{
  cursor: pointer;
  min-width: 120px;
  width:  100%;
  margin: 0.5rem;
  padding: 0.4rem 0;
  border-radius: 4px;
  transition: .2s ease-in-out;
  box-shadow: 10px 5px 5px rgb(105, 105, 105);
}

.bouton2{
  background: linear-gradient(90deg, rgb(204, 198, 255) 0%, rgb(230, 200, 180) 47%, rgb(200, 198, 251) 100%);
}

.bouton:hover, .bouton3:hover{
  border: 1px solid rgb(72, 61, 139);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.bouton2:hover{
  border: none;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
  color: white;
}

.choix{
  display: flex;
  flex-wrap: wrap;
}

/*Titres et textes*/

.page h1,
.page h2{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  text-shadow: 2px 2px #708090;
  color: rgb(0, 0, 102);
}

.page h1{
  font-size: 80px;
}

.page h2{
  font-size: 40px;
}

.label{
  font-size: 25px;
}



/*Tableau*/

.tableau{
  border: 2px solid #000000;
  box-shadow: 10px 5px 5px rgb(105, 105, 105);
}

table{
  width:100%;
  table-layout: fixed;
  height: auto;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.table_header{
  width: 100%;
  height: 50px;
  /*background: linear-gradient(90deg, rgb(204, 198, 255) 0%, rgb(230, 200, 180) 47%, rgb(200, 198, 251) 100%);*/
  background: linear-gradient(90deg, rgb(200, 190, 255) 0%, rgb(255, 200, 160) 47%, rgb(200, 198, 251) 100%);
  color: white;
 }

.table_body{
  height:500px;
  overflow-x: auto;
  background: linear-gradient(90deg, rgba(221,221,224,1) 0%, rgba(246,223,255,0.6474790599833684) 52%, rgba(164,183,255,0.4766107126444328) 100%);
}

.table_body tbody:hover{
  background: linear-gradient(90deg, rgba(205,148,209,1) 0%, rgba(209,201,245,1) 50%, rgba(205,148,209,1) 100%);
  cursor:  pointer;
}

tr{
  margin: 0;
  padding: 0;
}

th{
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

td{
  padding: 12px;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  word-wrap:break-word;
  margin: 0;
  padding: 0;
}

thead{
  vertical-align:middle;
  height: auto;
}

/*Tableau 2*/

.table_header2{
  width: 100%;
  /*background: linear-gradient(90deg, rgb(204, 198, 255) 0%, rgb(230, 200, 180) 47%, rgb(200, 198, 251) 100%);*/
  background: linear-gradient(90deg, rgb(200, 190, 255) 0%, rgb(255, 200, 160) 47%, rgb(200, 198, 251) 100%);
  color: white;
  border: 1px solid black;

 }

.table_body2{
  height:500px;
  overflow-x: auto;
  background: linear-gradient(90deg, rgba(221,221,224,1) 0%, rgba(246,223,255,0.6474790599833684) 52%, rgba(164,183,255,0.4766107126444328) 100%);
}

.table_body tr:hover{
  background:  rgba(255,240,245,0.8);
  background: linear-gradient(90deg, rgba(221,221,224,1) 0%, rgba(246,223,255,0.6474790599833684) 52%, rgba(164,183,255,0.4766107126444328) 100%);
  cursor:  pointer;
}

tr{
  margin: 0;
  padding: 0;
}

.tr1 th{
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  border-right: 2px solid black;
}

.th2{
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-collapse: collapse;
}

td{
  padding: 12px;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  word-wrap:break-word;
}

thead{
  vertical-align:middle;
  height: auto;
}